# compiled output
/dist
/tmp
/out-tsc
/final

# dependencies
/node_modules

# experimentalFeature
/src/common/experimental/*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Web store zip
*.zip

# nodejs dep chain
package-lock.json

# JS Beautify
.jsbeautifyrc

*.iml
*.crx
*.pem
src/.DS_Store

# vim tempfile ignore
*.*~

# custom rule
*.devig.*
devig/