.enabled input[type=checkbox] {
    visibility: hidden;
}

.enabled {
    width: 65px;
    height: 24px;
    display:inline-block;
    background: #e4e4e4;
    border-radius: 25px;
    position: relative;
    float: right;
}

.enabled:before {
    content: 'On';
    position: absolute;
    top: 3px;
    left: 10px;
    height: 1px;
    color: #e47e50;
    font-weight: bold;
}

.enabled:after {
    content: 'Off';
    position: absolute;
    top: 3px;
    left: 35px;
    height: 1px;
    color: #666;
    font-weight: bold;
}

.enabled label {
    display: block;
    width: 24px;
    height: 16px;
    border: none;
    border-radius: 37px;
    transition: all .5s ease;
    cursor: default;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 6px;
    background: #c4c4c4;
}

.enabled input[type=checkbox]:checked+label {
    left: 32px;
    background: #fd4c5d;
}