.rightnav {
    overflow: hidden;
}

.rightnav>div {
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* transition-duration: .2s; */
    translate: translateZ(0);
    white-space: nowrap;
}

.rightnav>.isSelected {
    background-color: #fd4c5d;
    color: #fff;
}

.rightnav>div:hover {
    background-color: #fd4c5d;
    color: #fff;
}

.rightnav a {}