.enabled input[type=checkbox] {
    visibility: hidden;
}

.enabled {
    width: 55px;
    height: 20px;
    display: inline-block;
    background: #e4e4e4;
    margin: 3px;
    border-radius: 25px;
    top: 0px;
    position: relative;
}

.enabled:before {
    font-size: 10px;
    content: 'On';
    position: absolute;
    top: -2px;
    left: 10px;
    height: 1px;
    color: black;
    font-weight: bold;
}

.enabled:after {
    font-size: 10px;
    content: 'Off';
    position: absolute;
    top: -2px;
    left: 30px;
    height: 1px;
    color: #999;
    font-weight: bold;
}

.enabled label {
    display: block;
    width: 20px;
    height: 16px;
    border: none;
    border-radius: 37px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 2px;
    z-index: 1;
    left: 6px;
    background: #c4c4c4;
}

.enabled input[type=checkbox]:checked+label {
    left: 29px;
    top: 3px;
    /* 换了个按钮颜色 */
    border-radius: 10px;
    background-size: 200% 100%;
    background-image: -webkit-linear-gradient(left, #ff0000ad 30%, #ff0000 40%, #ff0000ad 70%);
    animation: masked-animation 2.8s infinite linear;
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}