body {
    background-color:#f5f5f5;
    font-family:"黑体";
}

.container {
    width: 686px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
    margin-bottom: 50px;
}

.table {
    margin-top: 40px;
}

.closed {
    background-color: #ededed !important;
    color: #ccc;
    /*border: 1px solid #e3e3e3;*/
}

.text-closed {
    color: #ccc !important;
    cursor: default !important;
    text-decoration: none !important;
}

h1{
    font-size: 18px;
    color: #333333;
}

h2 {
    margin-top: 25px;
    font-size: 16px;
    color: #333333;
}

.fail {
    margin-top: 4px;
    padding-left: 4px;
    font-size: 12px;
    color: #ff0000;
    display: none;
}

.mark-fail {
    margin-top: 4px;
    padding-left: 4px;
    font-size: 12px;
    color: #ff0000;
    display: none;
}

.filter-fail {
    margin-top: 4px;
    padding-left: 4px;
    font-size: 12px;
    color: #ff0000;
    display: none;
}

/*.switch-open {
    float: right;
    background-color: #4395FF;
    cursor: pointer;
    border: none;
    height: 27px;
    width: 99px;
    border-radius: 3px !important;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 27px;
    font-family:"é»‘ä½“";
    font-weight:bold;
}*/

.switch-open {
    float: right;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-focus: none;
}
/*.switch-open:hover {
    background-color: #54A0FF;;
}*/

/*.switch-open::active {
    background-color: #0077EC;;
}*/
.switch-close {
    float: right;
}
/*.switch-close {
    float: right;
    background-color: #ffffff;
    cursor: pointer;
    border: #cccccc 1px solid;
    height: 27px;
    width: 99px;
    border-radius: 3px !important;
    color: #999999;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 27px;
    font-family:"é»‘ä½“";
    font-weight:bold;
}*/

/*.switch-close:hover {
    background-color: #ffffff;
    color: #b2b2b2;
}*/

/*.switch-close::active {
    background-color: #f6f6f6;
    color: #999999;
}*/

#thead-tip {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-align: left;
    width: 500px;
}

#thead-tip-special {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-align: left;
    width: 500px;
}
#mark-add-text{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-align: left;
    width: 500px;
}

#mark-add{
    font-size: 14px;
    font-weight: bold;
    color: #0066ff;
    text-decoration: none;
    float: right;
    text-align: right;
    width: 186px;
    margin-right: 20px;
    cursor: pointer;
}

#filter-add-text{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-align: left;
    width: 500px;
}

#filter-add{
    font-size: 14px;
    font-weight: bold;
    color: #0066ff;
    text-decoration: none;
    float: right;
    text-align: right;
    width: 186px;
    margin-right: 20px;
    cursor: pointer;
}

#add {
    font-size: 14px;
    font-weight: bold;
    color: #0066ff;
    text-decoration: none;
    float: right;
    text-align: right;
    width: 186px;
    margin-right: 20px;
}

.add-table {
    background-color: #ffffff;
    padding-left: 23px;
    padding-top: 25px;
    padding-bottom: 13px;
}

.add-table .td-add-input {
    width: 220px;
}

.add-table .td-add-button {
    width: 123px;
}

.add-table .td-add-remove-button {
    width: 123px;
}

.add-table input {
    height: 25px;
    width: 190px;
    font-size: 14px;
    border: 1px solid #e3e3e3;
    padding-left: 10px;
}

.table-custom {
    font-size: 14px;
    color: #333333;
    min-height: 50px;
    max-height: 200px;
    display: block;
    overflow:auto
}

.table-custom-padding {
    padding-left: 23px;
    padding-top: 4px;
    padding-right: 23px;
    padding-bottom: 4px;
}

.table-custom tr td{
    border-bottom: 1px solid #eee;
}

.table-custom tr:last-child td{
    border-bottom: none;
}

#custom {
    background-color: #ffffff;
}
.custom-head {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}
/*::-webkit-input-placeholder {
    padding-left: 10px;
}*/

#custom {
    height: 47px;
    line-height: 47px;
}

#custom .site {
    width: 400px;
    padding-left: 10px;
}

#custom .site a{
    text-decoration: none;
    color: #0066ff;
}

#custom .site-name {
    width: 150px;
}

#custom .site-remove {
    width: 136px;
    padding-right: 10px;
    text-align: right;
}

#custom .site-remove a{
    text-decoration: none;
    color: #0066ff;
}


#scan-users {
    line-height: 47px;
}

#scan-users .site {
    width: 100px;
    padding-left: 10px;
}

#scan-users .site a{
    text-decoration: none;
    color: #0066ff;
}

#scan-users .site-tag {
    width: 250px;
}

#scan-users .site-name {
    width: 250px;
}
#scan-users .site-name a{
    text-decoration: none;
    color: #0066ff;
}
#scan-users .site-remove {
    width: 136px;
    padding-right: 10px;
    text-align: right;
}

#scan-users .site-remove a{
    text-decoration: none;
    color: #0066ff;
}

#scan-users .scan-remove{
    color: #0066ff;
    cursor: pointer;
}




.table-container {
    /*margin-top: 16px;*/
    border-top: 1px solid #f5f5f5;
}

.custom-nothing {
    width: 686px;
    pahrdding-left: 23px;
    text-align: center;
}

.head-hr {
    margin-top: 30px;
    /*border: 1px solid #e3e3e3;*/
    border-top: 1px solid #e3e3e3;
    border-bottom: 0 solid #ccc;
}

.foot-hr {
    margin-top: 40px;
    border: 1px solid #e3e3e3;
}

.div-lang-detect {
    margin-top: 16px;
    color: #333333;
    padding-left: 23px;
    /*padding-top: 4px;*/
    padding-top: 1px;
    padding-right: 23px;
    padding-bottom: 20px;
    background: #fff;
    border-top: 1px solid lightgrey;
}

.div-lang-detect p {
    /*margin-top: -10px;*/
    color: #333333;
    font-size: 14px;
}

#detect-switch-l {
    height: 21px;
    line-height: 21px;
    width: 500px;
}

#detect-switch-r {
    width: 186px;
}

#detect-switch-r button{
    margin-bottom: -3px;
    float: right;
}

#fanyi_huaci {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #333;
    background: #fff;

}
#fanyi_huaci p {
    font-size: 14px;
}
.fanyi_huaci_switch {
    padding-left: 23px;
    padding-top: 4px;
    padding-right: 23px;
    padding-bottom: 4px;
}
.fanyi_huaci_switch p {
    margin-top: 20px;
    margin-bottom: 21px;
}
#huaci_options {
    /*margin-top: 20px;*/
    /*background: #fff;*/
    padding-left: 23px;
    padding-top: 4px;
    padding-right: 23px;
    padding-bottom: 4px;
    color: #333;
    font-size: 14px;
}

#auto_options {
    /*margin-top: 20px;*/
    /*background: #fff;*/
    padding-left: 23px;
    padding-top: 4px;
    padding-right: 23px;
    padding-bottom: 4px;
    color: #333;
    font-size: 14px;
}

.huaci_selections {
    vertical-align: middle;
    line-height: 47px;
}
.huaci_selections span {
    display: inline-block;
    height: 16px;
}
#huaci_options hr {
    /*color: #eee;*/
    border-bottom: 1px solid #eee;
    border-top: 0 solid #eee;
}
#auto_options hr {
    /*color: #eee;*/
    border-bottom: 1px solid #eee;
    border-top: 0 solid #eee;
}

#btn_switch,
#frame_switch {
    margin-bottom: -2px;
    margin-right: 5px;
    cursor: pointer;
}
.autoTranslate-switch {
    /*margin-top: 20px;*/
    /*background: #fff;*/
    padding-left: 23px;
    padding-top: 4px;
    padding-right: 23px;
    padding-bottom: 4px;
    /*color: #333;*/
}
.autoTranslate {
    background: #fff;
}
#specific_switch{
     margin-bottom: -3px;
 }

#attention_switch{
    margin-bottom: -3px;
}
.attention_num{
    margin-bottom: -3px;
}



.wordcontent::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.wordcontent::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ccc;
}
.wordcontent::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}


.div-common-mark {
     margin-top: 16px;
     color: #333333;
     padding-left: 23px;
     /*padding-top: 4px;*/
     padding-top: 1px;
     padding-right: 23px;
     padding-bottom: 20px;
     background: #fff;
    border-top: 1px solid lightgrey;
 }

.div-common-mark p {
    /*margin-top: -10px;*/
    color: #333333;
    font-size: 14px;
}

#mark-switch-l {
    height: 21px;
    line-height: 21px;
    width: 500px;
}

#mark-switch-r {
    width: 186px;
}

.div-common-scan {
    color: #333333;
    padding-left: 23px;
    /*padding-top: 4px;*/
    padding-top: 1px;
    padding-right: 23px;
    padding-bottom: 20px;
    background: #fff;
}

.div-common-scan p {
    /*margin-top: -10px;*/
    color: #333333;
    font-size: 14px;
}

#scan-switch-l {
    height: 21px;
    line-height: 21px;
    width: 500px;
}

#scan-switch-r {
    width: 186px;
}


.div-user-list {
    margin-top: 16px;
    color: #333333;
    padding-left: 23px;
    /*padding-top: 4px;*/
    padding-top: 1px;
    padding-right: 23px;
    padding-bottom: 20px;
    background: #fff;
    border-top: 1px solid lightgrey;
}

.div-filter-list {
    margin-top: 16px;
    color: #333333;
    padding-left: 23px;
    /*padding-top: 4px;*/
    padding-top: 1px;
    padding-right: 23px;
    padding-bottom: 20px;
    background: #fff;
    border-top: 1px solid lightgrey;
}

.hidden{
    display: none;
}
#filter-ups{
    line-height: 47px;
}

#filter-ups .site {
    width: 100px;
    padding-left: 10px;
}

#filter-ups .site a{
    text-decoration: none;
    color: #0066ff;
}

#filter-ups .site-tag {
    width: 250px;
}

#filter-ups .site-name {
    width: 250px;
}
#filter-ups .site-name a{
    text-decoration: none;
    color: #0066ff;
}
#filter-ups .site-remove {
    width: 136px;
    padding-right: 10px;
    text-align: right;
}

#filter-ups .site-remove a{
    text-decoration: none;
    color: #0066ff;
}

#filter-ups .filter-remove{
    color: #0066ff;
    cursor: pointer;
}

.div-filter-switch {
    margin-top: 16px;
    color: #333333;
    padding-left: 23px;
    /*padding-top: 4px;*/
    padding-top: 1px;
    padding-right: 23px;
    padding-bottom: 20px;
    background: #fff;
    border-top: 1px solid lightgrey;
}

.div-filter-switch p {
    /*margin-top: -10px;*/
    color: #333333;
    font-size: 14px;
}

#filter-switch-l {
    height: 21px;
    line-height: 21px;
    width: 500px;
}

#filter-switch-r {
    width: 186px;
}