* {
    box-sizing: border-box;
}

blockquote,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
    font-size: 12px;
    width: 200px;
    border-radius: 5px;
    padding: 0;
    background-color: #f6f2f2
}

.container {
    margin: 0;
    padding: 0;
}

.grouptitle {
    font-weight: bold;
    color: white;
    background-color: #93a085;
    border-radius: 5px 5px 0 0;
    margin: 0 0 4px;
    padding: 4px 15px;
}

a {
    text-decoration: none;
}

.container>.head {
    font-weight: normal;
    background-color: #F6F6F6;
}

.container .head .item {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.17), 0 2px 0 0 rgba(0, 0, 0, 0.13);
    border-bottom: 0;
}

.container .item {
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.container>.body {
    max-height: 295px;
    overflow: auto;
}

.container>.top-fixed {
    /* height: 27px; */
    transition-property: all;
    transition-duration: .5s;
    overflow: hidden;
    user-select: none;
}

.container:hover {
    animation: cc 0.5s easy-in 0;
    -webkit-animation: cc 0.5s easy-in 0;
}

.container>.setting-hidden {
    height: 106px;
}

.container .head .item .co.title {
    min-width: calc(100% - 152px);
    max-width: calc(100% - 152px);
}

.pop-title {
    display: block;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .item .col {
    display: block;
    float: left;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .item .col.action {
    height: 40px;
}

.container .item .col.format {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

.container .item .col.size {
    text-align: center;
}

.container .item .col.action>* {
    padding: 0 2px;
}

.icon-download {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url(../images/download.svg);
    opacity: 0.7;
}

.action-btn {
    display: inline-block;
    height: 40px;
    width: 28px;
}

.container .item>* {
    line-height: 26px;
    height: 26px;
    margin: 0px 5px;
}

.pop-empty {
    text-align: center;
    border-bottom: 0;
    margin-top: 70px;
    color: #aec2db;
}

.pop-hide {
    display: none;
}

.odh-definition,
.pop-live,
.odh-sentence {
    display: block;
    background-color: #fefefe;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 2px;
    margin-top: 1px;
    word-wrap: break-word;
}

.comment-label {
    color: red;
    font-weight: bold;
    font-size: 0;
    cursor: pointer;
}

.top-fixed>.head>.item>.pop-title>.comment-label>.letter {
    line-height: 26px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    display: inline-block;
}

.top-fixed>.head>.item>.pop-title>.comment-label:hover :nth-child(1) {
    animation: dd .4s .2s linear 1;
}

.top-fixed>.head>.item>.pop-title>.comment-label:hover :nth-child(2) {
    animation: dd .4s .6s linear 1;
}

.top-fixed>.head>.item>.pop-title>.comment-label:hover :nth-child(3) {
    animation: dd .73s 1s ease-out 1;
}

ul {
    margin: 0px 5px;
    cursor: pointer;
    list-style: none;
}

.odh-definition:hover {
    background-color: rgb(214, 154, 204);
}

span.go-live {
    float: right;
    background-color: #d69acc !important;
    cursor: pointer;
    text-transform: lowercase;
    font-size: 0.9em;
    margin-right: 2px;
    padding: 2px 4px;
    color: white;
    background-color: #0d47a1;
    border-radius: 3px;
}

.top-fixed {
    background-color: #f6f2f2;
    z-index: 999;
    width: 100%;
}

.pop-push {
    /*无数据时增加最小高度*/
    min-height: 30px;
    line-height: 30px;
}

.pop-push>.inner {
    z-index: 1;
    height: 150px;
    position: relative;
    transform: scale(0.97, 0.97);
    -moz-transform: scale(0.97, 0.97);
    -webkit-transform: scale(0.97, 0.97);
    -o-transform: scale(0.97, 0.97);
    transition-duration: .5s;
}

.pop-push>.inner:hover {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
}

.pop-push>.inner>.l>a {
    display: block;
    height: 150px;
    border-radius: 3px;
    overflow: hidden;
}

.pop-push>.inner>.l>a>img {
    filter: brightness(0.4);
    transition-duration: .5s;
}

.pop-push>.inner:hover>.l>a>img {
    filter: brightness(0.8);
}

.pop-push>.inner>.r {
    z-index: 1;
    position: absolute;
    left: 10px;
    bottom: 5px;
    right: 10px;
    transition-duration: .5s;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.pop-push>.inner>.r>.info {
    margin-top: 0;
    line-height: 15px;
}

.pop-push>.inner>.r>a {
    color: rgba(255, 255, 255, 0.8);
    line-height: 20px;
    padding: 5px;
    transition-duration: .5s;
}

.pop-push>.inner>.r:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.pop-push>.inner>.r:hover>a {
    color: white;
}

.pop-push :before {
    content: '';
}

.pop-common {
    background-color: #F6F6F6;
    height: 28px;
}

.push-msg {
    margin-top: 100px;
}

.popup-overflow::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.popup-overflow::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ccc;
}

.popup-overflow::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}


/*按钮大小位置*/

.mdui-fab {
    width: 40px;
    min-width: 40px;
    height: 40px;
}

.mdui-fab-fixed,
.mdui-fab-wrapper {
    position: fixed!important;
    right: 16px;
    bottom: 41px
}

.toTop-bg-color {
    background-color: #0000008c!important;
}

.toTop-bg-color i {
    color: white;
}

@-webkit-keyframes dd {
    0% {
        transform: translateY(0px)
    }
    70% {
        transform: translateY(-5px)
    }
    80% {
        transform: translateY(2px)
    }
    100% {
        transform: translateY(0px)
    }
}