body {color: #333;padding: 0px !important;margin: 0px !important;font-size: 14px;font-family: "微软雅黑";}
a,a:hover,a:focus {text-decoration: none;outline: none;}
::selection {background: #f08300;color: #fff;}
::-moz-selection {background: #f08300;color: #fff;}
h1,h2,h3,h4,h5,h6,p,ul,li { padding: 0; margin: 0;}
li{ list-style-type: none;}
a {color: #333;}
a:hover {color: #009aff; text-decoration: none;}
p {line-height: 22px}
.container{
	width: 100%;
	height: 1400px;
	background: #FFFFFF;
}

.borderleft{border-left: 1px solid #6a6a6a}

.contactusdiyou {position: fixed; right: -300px; bottom: 0px; _position: absolute; width: 300px; height: 100%; background: #f8f2e3; z-index: 999;  _margin-bottom:0px; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); transition:all .5s ease; }
.contactusdiyou .hoverbtn{width:20px; height:30px; cursor: pointer; position:absolute;background-color: #000; top:50%; left:-20px; font-size:14px; color: #f81e47;  -webkit-border-radius: 3px 0px  0px 3px; -moz-border-radius: 3px 0px  0px 3px; -o-border-radius: 3px 0px  0px 3px;      border-radius: 3px 0px  0px 3px; -moz-box-shadow: -4px 4px 4px -4px #000; -webkit-box-shadow: -4px 4px 4px -4px #000; box-shadow: -4px 4px 4px -4px #000;}
.contactusdiyou .hoverbtn span{width:30px; height:19px;line-height: 19px; text-align: center; overflow:hidden; float:left;}
.contactusdiyou .hoverbtn .hoverimg{width:13px; height:9px; margin:10px 0px 0px 5px; float:left; display:inline;background-repeat: no-repeat;}
.hoverimg2{background:url(../images/hoverbtnbg1.png) no-repeat; } 
.contactusdiyou .conter{width:100%; height:100%;    position:absolute;}
.contactusdiyou .conter .con1{ border-bottom:1px solid #6a6a6a; padding-bottom:22px;}
.contactusdiyou .conter .con1 dl dt{width:31px; height:31px; float:left;    position: relative;
    top: 32px;}
.contactusdiyou  dl .f1{width:142px; height:36px;line-height: 36px; float:right; font-size:14px;_font-size: 14px;*font-size: 15px; color:#fff;vertical-align: top; font-weight: bold;}
.contactusdiyou  dl .f2{ width:142px; float:right; font-size:12px; color:#fff; height:30px;line-height: 30px; float:right;}
.kefuQQ a{ background:url(../images/button-custom-qq.gif)  no-repeat; width:70px; height:20px; display:inline-block; vertical-align:middle;}
.kefuQQ a:hover{ background:url(../images/button-custom-qq-h.gif)  no-repeat;}
.contactusdiyou .conter .con1 dl dd .ph_num{ font:18px 'Microsoft yahei';*font-size: 16px;_font-size: 16px; color:#fff; height:25px;}

.contactusdiyou .qqcall{padding:22px 0px;border-bottom:1px solid #6a6a6a;}
.contactusdiyou .qqcall dl dt{width:31px; height:31px; float:left; position: relative;
    top: 32px;}

.contactusdiyou .weixincall{float:right;padding:22px 0; border-bottom:1px solid #6a6a6a;}
.contactusdiyou .weixincall dl dt{width:31px; height:31px; float:left; position: relative;
    top: 32px;}


.contactusdiyou .weixincall .f3{float: right;width:73px; height:auto; margin-right:69px; display:inline;}
.contactusdiyou .weixincall .f3 img{width: 73px;height: auto;}
.contactusdiyou .dytimer{    float: right; width: 160px; height: 40px; padding: 16px 0px 15px 0px; /* background: #007b77; */ margin: 20px 0px 0px 0px;} .contactusdiyou .dytimer span{display:block; height:20px; line-height:20px; font-size:14px; color:#fff;} .diyou{_position: absolute; _bottom: auto;_margin-bottom:0px; z-index:99999999999; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));} .diyoumask { position:fixed; left: 0; top: 0; z-index: 100000; width:100%; height:100%; opacity:0.3;filter:alpha(Opacity=30); background:#000; display:none;} .fn_cle:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } /***联系我们***/

